fastapi
uvicorn
jinja2
requests
redis
sqlalchemy==2.0.36
python-dotenv
mysql-connector-python==8.4.0
mysqlclient
mariadb
python-multipart
pyjwt
python-jose
passlib
matplotlib
plotly
pyotp
nano
pandas
django
celery
redis
pika
email-validator
django-celery-beat